@import "config";

.cart {
  padding-right: $gutter *0.5;
  padding-left: $gutter *0.5;
  margin-top: $gutter *2;

  &__header {
    font-family: $font-header;
    font-weight: 700;
    font-size: 2.25rem; //36/16
    margin-bottom: $gutter *2;
    padding-right: $gutter *0.5;
    padding-left: $gutter *0.5;
  }

  &__products {
    margin-bottom: $gutter *2;
  }
}