@import "config";

.cart {
  padding-right: $gutter;
  padding-left: $gutter;
  margin-top: $gutter *2;

  &__container {
    max-width: $max-width;
    margin: 0 auto;
  }

  &__row {
    @include row();
  }

  &__header {
    margin-bottom: $gutter *2;
    font-family: $font-header;
    font-size: 2.25rem; //36/16
    font-weight: 700;
  }

  &__products {
    width: 100%;
    margin-bottom: $gutter *2;
  }
}
