// TODO stillingar hér
$max-width: 1200px;
$gutter: 20px;

$font-main: "Open Sans", helvetica, arial, sans-serif;
$font-header: "Oswald", Verdana, serif;

$transition: 200ms ease-in-out;

$color1: #000;
$color2: #fffcf2;
$color3: #ff5000;
$color4: #00b7ff;

$column-margin: 100/12;

@mixin row() {
  display: flex;
  margin-right: -($gutter *0.5);
  margin-left: -($gutter *0.5);
}

@mixin columns($col: 1) {
  width: ($col / 12 * 100) *1%;
  padding-right: $gutter *0.5;
  padding-left: $gutter *0.5;
}
