@import "config";

.course {
  padding-right: $gutter;
  padding-left: $gutter;
  margin-top: $gutter*2;
  font-family: $font-main;

  &__container {
    max-width: $max-width;
    margin: 0 auto;
  }

  &__row {
    @include row();
    flex-wrap: wrap;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: $gutter*2;
    @media (min-width: 800px) {
      margin-bottom: $gutter*4;
    }
    @media (min-width: $max-width) {
      margin-bottom: $gutter*2;
    }
  }

  &__info {
    display: flex;
    margin-bottom: $gutter*3;
    flex-direction: column;
    @include columns(12);
    @media (min-width: 800px) {
      @include columns(6);
      margin-bottom: 0;
    }

  }

  &__header {
    margin-bottom: $gutter*2.5;
    font-family: $font-header;
    font-size: 2rem; //60/16
    font-weight: 700;
    text-align: left;
  }

  &__text {
    display: flex;
    max-width: $max-width;
    font-family: $font-main;
    font-size: 1.5rem;
    flex-direction: column;
  }

  &__img {
    padding-right: $gutter *0.5;
    padding-left: $gutter *0.5;
    @media (min-width: 800px) {
      @include columns(6);
    }
  }
}
