@import "config";

.footer {
  width: 100%;
  padding-right: $gutter;
  padding-left: $gutter;
  background-color: $color4;

  &__content {
    max-width: $max-width;
    padding-top: $gutter *2;
    padding-bottom: $gutter *2;
    margin: 0 auto;
  }

  &__row {
    @include row();
    flex-wrap: wrap;
  }

  &__col {
    @include columns(6);
    margin-bottom: $gutter;

    @media (min-width: $max-width) {
      @include columns(3);
    }
  }

  &__header {
    margin-bottom: $gutter;
    font-size: 1.5rem;
    font-weight: 700;
  }

  &__list {
    list-style: none;
  }

  &__item {
    margin-bottom: $gutter *0.5;
  }

  &__link {
    color: $color2;
    text-decoration: none;

    transition: color $transition;

    &:hover {
      color: $color1;
    }
  }

  &__copyright {
    padding-bottom: $gutter *2;
    color: $color1;
    text-align: center;
  }
}
