@import "config";

.form {
  margin-bottom: $gutter *2;

  &__row {
    @include row();
    flex-wrap: wrap;
  }

  &__col {
    @include columns(12);

    @media (min-width: 800px) {
      @include columns(6);
    }
  }

  &__fieldset {
    border: 0;
  }

  &__legend {
    margin-bottom: $gutter * 0.5;
    font-family: $font-header;
    font-size: 2.25rem; //36/16
    font-weight: 700;
  }

  &__option {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: $gutter;
  }

  &__label {
    font-family: $font-main;
    font-size: 1rem;
    flex: 0 1 ($gutter * 7);
  }

  &__input {
    padding: ($gutter * 0.25);
    font-family: $font-main;
    font-size: 1rem;
    color: $color1;
    border: 1px solid $color1;
    border-radius: 4px;
    flex: 1;
  }

  &__select {
    padding: ($gutter * 0.25);
    font-family: $font-main;
    font-size: 1rem;
    color: $color1;
    border: 1px solid $color1;
    border-radius: 4px;
    flex: 1;
  }

  &__expiration {
    display: flex;
    justify-content: space-between;
    flex: 1;
  }

  &__expiration &__select,
  &__expiration &__label {
    flex: 0;
  }

  &__submit {
    display: flex;
    justify-content: center;
    margin-top: $gutter;
  }
}
