@import "config";

.header {
  padding-right: $gutter;
  padding-left: $gutter;
  background-color: $color3;

  &__title {
    margin-bottom: $gutter;
    font-family: $font-header;
    font-size: 3.75rem; //60/16
    font-weight: 700;
    text-align: center;
  }

  &__content {
    display: flex;
    max-width: $max-width;
    margin: 0 auto;
    flex-direction: column;
  }
}
