@import "scss/config";

.home {
  width: 100%;
  padding-right: $gutter;
  padding-left: $gutter;
  margin-top: $gutter *2;
  margin-bottom: $gutter *2;

  @media (min-width: 800px) {
    margin-bottom: $gutter *4;
  }

  &__container {
    max-width: $max-width;
    margin: 0 auto;
  }

  &__row {
    @include row();
    flex-wrap: wrap;
  }

  &__col {
    @include columns(12);

    @media (min-width: 800px) {
      @include columns(6);
    }
  }

  &__content {
    display: flex;
    margin-bottom: $gutter *2;
    flex-direction: column;

    @media (min-width: 800px) {
      margin-bottom: 0;
    }

  }

  &__header {
    margin-bottom: $gutter *2;
    font-family: $font-header;
    font-size: 2.25rem; //36/16
    font-weight: 700;
  }

  &__text {
    margin-bottom: $gutter *2;
    font-size: 1.5rem;
  }

  &--differentlayout &__row {
    flex-direction: row-reverse;
  }
}
