@import "config";

.menu {
  font-family: $font-main;
  text-align: center;

  &__row {
    @include row();
    flex-wrap: wrap;
  }

  &__list {
    @include columns(12);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: $gutter *0.5;
    list-style: none;

    @media (min-width: 800px) {
      @include columns(5);
      margin-right: ($column-margin*1.5) *1%;
      margin-bottom: $gutter;
      margin-left: ($column-margin*3.5) *1%;
    }
  }

  &__item {
    margin-right: $gutter * 0.5;
    margin-left: $gutter *0.5;
  }

  &__link {
    font-size: 1rem;
    font-weight: 700;
    color: $color1;
    text-decoration: none;
    text-transform: uppercase;

    transition: color $transition;

    &:hover {
      color: $color2;
    }
  }

  &__item--selected {
    text-decoration: underline;
  }

  &__cart {
    @include columns(12);
    display: flex;
    justify-content: center;
    margin-bottom: $gutter * 0.5;

    @media (min-width: 800px) {
      @include columns(2);
      justify-content: flex-end;
    }
    @media (min-width: $max-width) {
      padding-right: $gutter * 0.5;
    }
  }

  &__button {
    padding-left: $gutter * 1.5;
    font-size: 1rem;
    color: $color1;
    text-decoration: none;
    background-image: url("img/cart.svg");
    background-repeat: no-repeat;
    transition: color $transition;

    &:hover {
      color: $color2;
    }
  }
}
