@import "config";

.product {
  display:flex;
  //flex-wrap: wrap;
  flex-direction: column;
  height: 100%;
  //padding-right: $gutter *0.5;
  //padding-left: $gutter *0.5;



  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
  }

  &__content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  &__header {
    font-family: $font-header;
    font-weight: 700;
    font-size: 2.25rem; //36/16
    margin-bottom: $gutter * 0.5;
  }
  
  &__text {
    font-size: 1rem;
    flex: 1;
    margin-bottom: $gutter * 0.5;

    //@media (min-width: 800px) {
    //  margin-bottom: $gutter *2;
    //}
  }
  
  &__price {
    font-family: $font-header;
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: $gutter * 0.5;
  }

  &__data {
    font-family: $font-main;
    display: flex;
    align-items: flex-end;
    margin-bottom: $gutter *2;
  }
  
  &__label {
    font-family: $font-main;
    flex: 1;
  }
  
  &__input {
    display: block;
    font-family: $font-main;
    font-size: 1rem;
    border: 1px solid $color1;
    border-radius: 4px;
    color: $color1;
    padding: ($gutter * 0.5) ($gutter * 0.5);
    width: 100%;
  }

  &__button {
    font-family: $font-main;
    font-size: 1rem;
    display: inline-block;
    border: 1px solid $color1;
    border-radius: 4px;
    color: $color1;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    padding: ($gutter * 0.5) ($gutter * 0.5);
    padding-left: $gutter *2;
    margin-right: $gutter *0.25;
    margin-left: $gutter *0.25;

    background-image: url("../img/cart.svg");
    background-repeat: no-repeat;
    background-position-x: $gutter * 0.5;
    background-position-y: center;
    background-size: 1.3125rem; //21/16
    transition:
      background-color $transition,
      color $transition;
  
    &:hover {
      background-color: $color4;
    }

    &:last-child {
      margin-right: 0;
    }
  }
  
  &--cart {

    @include row();
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    margin-bottom: $gutter *2;
  }

  &--cart &__img {
    @include columns(12);
    
    @media (min-width: 800px) {
      @include columns(4);
    }
  }
  
  &--cart &__info {

    @include columns(12);
  
    @media (min-width: 800px) {
      @include columns(8);
      padding-left: -($gutter *0.5);
    }
  }

  &--cart &__label {
    flex: 0 1 100px;
  }

  &--cart &__data {
    margin-bottom: 0;
  }
}